
/* Conferences Page */

body{
    height: 100%;
    /* margin: 50px; */
    box-align: center;

}
/* Hero image styling adapted from w3 schools  (https://www.w3schools.com/howto/howto_css_hero_image.asp) */
.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/conference-temp.jpg");    
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    padding: 50px;
}

.header-text{
    /* text-align: left; */
    /* position: absolute; */
    top: 50%;
    color: white;

}

#what-is-nacro-img{
    max-width: 500px;
}

.small-icons{
    color: rgba(0, 0, 0, 0.5);
    size:
}

content-text{
    margin-top: auto;
    margin-bottom: auto;
}